<ul class="nav pull-right" style="margin-right:-50px">
  <li><%= link_to 'Profile', edit_user_path(current_user), 'data-method'=>"get" %></li>
  <li><%= link_to 'Logout', logout_path, 'data-method'=>"get" %></li>
</ul>
